/* --- HEADER /// CARROSSEL --- */
header .bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
    left: 0;
    top: 0;
    width: 100%;
}

.carrossel {
    width: 100%;
  }

.titulo {
    font-family: 'Comforter Brush', cursive;
    color: white;
    font-size: 2.5em;
    text-shadow: 0 5px 5px rgb(105, 67, 10) ;
}

.bg-botao {
    background-color: rgb(255, 255, 255, 0);
}

.imagem {
    height: 100vh;
}

.p-subtitulo {
    text-shadow: 0 2px 2px rgb(0, 0, 0);
}

/* --- CARDS /// COMUNIDADE --- */

#card .card {
    height: 100vh;
}

.gradient-text {
    background: linear-gradient(45deg, RGB(101, 67, 33), RGB(139, 69, 19), RGB(205, 133, 63), RGB(245, 222, 179));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-color {
    background-color: #CC5500 !important;
    color: white !important;
}

.button-color:hover {
    background-color: #d656008a !important;
}

.font-button{
    font-size: 1.5em !important;
}

/* --- CARD DESTAQUES --- */
#destaques .destaques {
    height: 100vh;
}

.btn-md {
    width: 150px;
    padding: 2px !important;
}

.destaques .button-color{
    background-color: black !important;
}

/* --- FOOTER --- */
.footer {
    height: 20vh;
    background: black;
}