
/* --- STYLE --- */
.inicio-bg {
    height: 1205px;
    width: 100%;
    background-image: linear-gradient(transparent, rgba(255, 255, 255, 1)), url(/midias/bg-mobile.png);
    background-size: cover;
    background-position: center;
}

.assinatura-bg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.85)), url(/midias/bg-assinatura.png);
    background-size: cover;
    background-position: center;
}
  
.ativo {
    animation: showUp 1s ease-out 0ms 1 normal forwards;
    opacity: 1;
}

@keyframes showUp {
	0% {
		transform: scale(0);
		transform-origin: 50% 100%;
	}

	100% {
		transform: scale(1);
		transform-origin: 50% 100%;
	}
}

.vantagens-bg {
    background: rgb(255,255,255);
    background: linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,0.6783088235294117) 64%, rgba(255,255,255,0.5690651260504201) 90%, rgba(255,255,255,0.44861694677871145) 100%), url(/midias/montanha.png);
    background-repeat: no-repeat;
    background-position: right;
}

.icone-vantagens {
    transition: 300ms ease-in-out;
}

.icone-vantagens:hover {
    transition: 300ms ease-in-out;
    transform: scale(1.2);
}

@media (max-width: 767.98px) {
    .bg-md-only {
      background-image: none !important;
    }
  }
  
ul, ol {
    list-style: none;
}

.container-header {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 54%);
}

.fundo-movel1 { 
    background-clip: content-box;
    animation: rotateImage1 5s linear 0s infinite alternate backwards;
}

.fundo-movel2 {
    background-clip: content-box;
    animation: rotateImage2 5s linear 0s infinite alternate backwards;
}

.fundo-movel3 {
    background-clip: content-box;
    animation: rotateImage3 5s linear 0s infinite alternate backwards;
}


@keyframes rotateImage1 {
    0% {
        clip-path: circle(46% at 49% 47%);
        }

    30% {
        clip-path: circle(47.9% at 49% 45%);
        }

    60% {
        clip-path: circle(48% at 47% 46%);
        }

    100% {
        clip-path: circle(45.5% at 49% 44%);
        }
  }

  @keyframes rotateImage2 {
    0% {
        clip-path: circle(47.9% at 49% 47%);
    }

    30% {
        clip-path: circle(48% at 47% 47%);
    }

    60% {
        clip-path: circle(45.5% at 49% 50%);
    }

    100% {
        clip-path: circle(46% at 49% 51%);
    }
  }
  
  @keyframes rotateImage3 {
    0% {
        clip-path: circle(45.5% at 49% 50%);
    }

    30% {
        clip-path: circle(46% at 49% 51%);
    }

    60% {
        clip-path: circle(48% at 47% 47%);
    }

    100% {
        clip-path: circle(47.9% at 49% 47%);
    }
  }

/* --- DIMENSÕES --- */
.vh {
    height: 100vh;
}

.titulo-header {
    font-size: 60pt;
    margin-bottom: -20px;
}

.logotipo-header{
    width: 150px;
    object-fit: contain;
    margin-right: -20px;
}

.avaliacoes {
    height: 650px;
}

footer {
    height: 250px;
}

.logotipo-footer {
    width: 200px;
}

.video-md {
    width: 440px;
    height: 250px;
}

.video-mobile {
    width: 100%;
    height: 80vh;
}


/* --- FONTES --- */ 
.f-urbanist {
    font-family: 'Urbanist', sans-serif;
}

.f-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.f-comforter{
    font-family: 'Comforter Brush', cursive;
}

.f-space {
    font-family: 'Space Grotesk', sans-serif;
}

.display-7 {
    font-size: 60pt;
}

.display-8 {
    font-size: 10pt;
}

.display-9 {
    font-size: 15pt;
}



/* --- CORES --- */
.cor-logo{
    color: #4f280f;
}

.laranja {
    color: #cc5500;
}

.bg-laranja {
    background-color: #cc5500;
}

.branco {
    color: white
}

.bg-branco {
    background-color: white;
}

.preto {
    color: black;
}

.bg-preto {
    background-color: black;
}

.cinza-claro {
    color: #FAFAFA;
}

.bg-cinza-claro {
    background-color: #FAFAFA;
}

.cinza-escuro {
    color: #5a5a5a;
}

.bg-cinza-escuro {
    background-color: #5a5a5a;
}
